<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>My App</title>


<style>
  
    body {
    font-family: sans-serif;
    text-align: center;
    background-image: url('https://ottawarunforpalestine.com/wp-content/uploads/2026/01/palestinian-flag.webp'); 
    background-size: cover;
    background-position: center ;
    background-repeat: repeat-y;
  background-size: contain;
      background-attachment: fixed;
    /*color: white; /* Optional: to improve text visibility on dark backgrounds */
      margin: 10;
      padding: 10;
  }
  
  .big-button {
    padding: 20px 15px;
    font-size: 30px;
    width: 100%;
    max-width: 450px;
    margin: 15px auto;
    display: block;
 background-color: #000000;
    color: white;
    /*border: none;
*/    border-radius: 6px;
  }

  .big-button:hover {
    background-color: #0056b3;
  }
   /* Add this style to remove the underline from links */
  a {
    text-decoration: none;
  }
</style>
</head>
<body>
  
<h1 style="font-size: 48px;">Welcome to My App</h1>
<p style="font-size: 34px;">Select a section below:</p>

<a href="/more4"><button class="big-button">More - 4 players</button></a>
<a href="/more3"><button class="big-button">More - 3 players</button></a>
<a href="/Tarneeb"><button class="big-button">Tarneeb - Partners</button></a>
<a href="/Hand"><button class="big-button">Hand</button></a>
<a href="/about"><button class="big-button">Trix - under construction</button></a>
<a href="/page5"><button class="big-button">Test - under construction</button></a>
<br><br><br><br><br><br><br><br>


<!--<p style="font-size: 34px;">Sponserd by </p>--> 
  
  <p style="font-size: 34px; background-color: white; color: black; display: inline-block; padding: 10px 20px; border-radius: 8px;">
  Sponsored by
</p>
  
<div style="margin-top: 40px;">
  <img src="https://ottawarunforpalestine.com/wp-content/uploads/2026/01/ChatGPT-Image-Jan-13-2026-12_12_03-AM.png" alt="Footer Image" style="max-width: 50%; height: auto;">
</div> 
</body>
</html>

